#wrapper {
    width: 1170px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.logo {
    width: 20%;
    float: left;
}

.menu-item {
    width: 75%;

}

    .menu-item ul {
        float: right;
        list-style: none;
    }

body {
    background: linear-gradient(130deg, rgb(128, 128, 128), rgb(26, 30, 112));
}

.menu-area {
    overflow: hidden;
}

    .menu-area ul li {
        display: inline-block;
    }

        .menu-area ul li a {
            display: inline-block;
            padding: 10px 15px;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
        }

@media (max-width: 767px) {
    #wrapper {
        width: 100%;
    }

    .logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    .menu-item {
        width: 100%;
        text-align: center;

    }

        .menu-item ul {
            float: none;
            padding: 0;
        }

    .menu-area ul li a {
        padding: 5px;
        font-size: 11px;
    }
    h1{
        text-align: center;
    }
    p{
        text-align:center;
    }
}
